@{
    ViewBag.Title = "GAMES";
}

<h2>GAMES:</h2>
<a href="@Url.Action("TicTacToe")">
    <img src="@Url.Content("~/Images/Games/TicTacToe/Icon.png")" , id="TicTacToe"" />
</a>

<a href="@Url.Action("Gibbet")">
    <img src="@Url.Content("~/Images/Games/Gibbet/6Errors.png")" , id="Gibbet" " />
</a>