@{
    ViewBag.Title = "TicTacToe";
}

<h2>TicTacToe</h2>


<div id="gameContainer">
    <div class="r1">
        <div class="cell c1"></div>
        <div class="cell c2"></div>
        <div class="cell c3"></div>
    </div>

    <div class="r2">
        <div class="cell c1"></div>
        <div class="cell c2"></div>
        <div class="cell c3"></div>
    </div>

    <div class="r3">
        <div class="cell c1"></div>
        <div class="cell c2"></div>
        <div class="cell c3"></div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/Games/TicTacToe")
}